.container{
  background-color: #444442;
  direction: rtl;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
}
.call{
  font-size: 40px;
  color: orange;
}
.sagest{

}
.name{
  padding-top: 30px;
}
.inputContainer{
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information{
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 40px 0;
}
.styledInput{
  direction: rtl;
  text-align: right;
  padding: 20px 0px;
}
.textInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  color: white;
}
.text{
  width: 400px;
  padding: 30px 0;
  background-color: #232321;
  border: 2px solid #232321;
  color: aliceblue;
}
.label{
  padding-left: 10px;
  direction: rtl;
  text-align: right;
  position: relative;
  left: 50px;
}
.input{
  background-color: #232321;
  border: 2px solid #232321;
  width: 300px;
  height: 40px;
  color: white;
  position: relative;
  left: 10px;
}
.submitBtn{
  background-color: orange;
  padding: 15px;
  border-radius: 10px;
}