.header{
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header>h2{
  position: relative;
  margin-top: 100px;
  color: white;
  font-size: 70px;
  opacity: 1;
}
.header>div{
  margin-top: 50px;
  position: relative;
  width:220px;
  height: 60px;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header>div>div{
  position: relative;
  width:210px;
  height: 50px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.header>div:hover>div{
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);

}
.header li{
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  margin: 10px;
  text-align: center;
  background-color: rgba(10,13,16,.4);
  backdrop-filter: blur(4px);
}
.header ul{
  margin-top: 30px;
  list-style: none;
  display: flex;
}
.header::before{
  content: " ";
  background-position-x: center;
  background-position-y: -20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/image/main-bg.webp');
  /* -webkit-mask-image: linear-gradient(to top, transparent 5%, black 95%);
  mask-image: linear-gradient(to top, transparent 25%, black 75%);
  
   */
   -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
   position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.suggestion{
  position: relative;
  top:-30px;

}
.suggestion>h3,.news>h3{
  color:white;
  direction: rtl;
  font-size: 30px;
  padding:0 50px 0 0;
}
.news>div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.suggestion>div{
  display: flex;
  overflow: auto;
  justify-content: center;
}
.suggestion>div::-webkit-scrollbar{
  display: none;
}
@media only screen and (max-width:600px) {
  .suggestion>div{
    overflow: scroll;
    justify-content: flex-start;
  }
  .header>h2{
    margin-top: 40px;
    font-size: 30px;
  }
  .header ul{
    flex-direction: column;
  }
}