.items {
	padding-right: 10px;
}
.info {
	background-color: gray;
	opacity: 80%;
	padding: 2px 10px;
	border-radius: 10px;
	margin-left: 5px;
	font-size: 15px;
}
.pageTop {
	direction: rtl;
	width: 100%;
	margin-top: 80px;
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-direction: column;
}
.topContent {
	display: flex;
	flex-direction: column;
	position: relative;
	right: 300px;
	text-align: right;
}
.name {
	color: orange;
	font-size: 60px;
	margin: 0;
}
.track {
	background-color: orange;
	padding: 5px 0px;
	text-align: center;
	border-radius: 10px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-weight: 700;
	width: 180px;
	margin-top: 60px;
}
.track:hover {
	color: orange;
	background-color: rgb(255, 255, 255);
}
.poster {
	width: 200px;
	height: auto;
	border-radius: 10px;
}
.poster:hover {
	transition: all .3s ease-in;
	transform: scale(1.12);
}
.favorite, .rate, .seen {
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.favorite{
	position: absolute;
    top: 250px;
    right: 20px;
}
.seen{
	position: absolute;
    top: 250px;
    left: 20px;
}
.bookmark{
	position: absolute;
    top: 250px;
    left: 88px;
}
.bullet {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}
.trackIt{
	width: 25px;
	cursor: pointer;
	transition: color 200ms;
}
.star, .heart, .tick {
	width: 20px;
	cursor: pointer;
	transition: color 200ms;
}

.middleView {
	direction: rtl;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #141312;
	color: aliceblue;
	padding-bottom: 50px;
}
.right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 50px;
	margin-top: 50px;
}
.left {
	display: inline-block;
	vertical-align: middle;
	width: 650px;
	
}
.movieName {
	font-size: 25px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: right;
	margin: 0;
}
.genre {
	padding: 10px 0;
}
.rankBox {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}
.rank {
	padding-left: 16px;
	padding-right: 5px;
	size: 10px;
	color: gray;
}
.BB {
	width: 15px;
}
.IMDB {
	width: 25px;
}
.meta{
	width: 25px;
}
.summery {
	direction: rtl;
	text-align: right;
	font-size: 15px;
	padding: 30px 0;
}
.streamPlace{
	background-color: rgb(88, 87, 87);
	border-radius: 10px;
}
.contentStream{
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.filimologo{
	height: 35px;
}
.streamContent{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	text-align: left;
}
.streamBox{
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	margin-right: 180px;
}
.streamBoxText{
	text-align: center;
	margin: 0;
	padding: 10px 25px;
	background-color: orange;
	border-radius: 10px;
	text-decoration: none;
    color: black;
}
.logoText{
	font-size: 10px;
	vertical-align: text-bottom;
	text-align: center;
	font-weight: 200;
}

.seriesBox{
	background-color: rgb(88, 87, 87);
	border-radius: 10px;
	width: 800px;
	padding: 20px 30px;
	margin: 50px 100px;
	direction: rtl;
	text-align: right;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
}
.numberBox{
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
}
.seasonNum{
	padding: 10px;
	width: 70px;
	height: 30px;
	border-radius: 10px;
	background-color: gray;
	color: orange;
	margin-left: 10px;

}
.episodeBox{
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: black;
	padding: 20px 10px;
	margin-bottom: 30px;
}
.episodeContent{
	color: white;
	text-align: right;
}
.episodeImage{
	text-align: right;
	width: 200px;
	height: 100px;
	margin: 0 20px;
}
.add{
	position: absolute;
	top: 50px;
	left: 50px;
	background-color: orange;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
}
@media only screen and (max-width:600px) {
	.pageTop{
		background-repeat: no-repeat;
		height: 500px;
		background-position: top right;
		justify-content: flex-end;
    	align-items: center;
	}
	.topContent{
		right: 0;
		align-items: center;
	}
	.middleView {
		flex-direction: column;
	}
	.movieName {
		display: none;
	}
	.miniInfoF{
		display: none;
	}
	.left{
		width: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.right {
		margin-right: 0;
		padding-bottom: 50px;
	}
	.track{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.streamBox{
		margin-right: 100px;
	}
	.streamBoxText{
		font-size:15px ;
		padding: 10px 10px;
	}
	.streamText{
		display: none;
	}
	.streamLogo{
		height: 35px;
	}
}

.rateBox{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 23px;
    margin-right: 10px;
	
}
.input{
	display: none;
}
.like , .dislike{
	width: 30px;
	margin: 0 10px;
}

