.mainSection{
    width: 100%;
    overflow-x:scroll;
}
.ganreItem{
    background-color: #0c1210;
    padding-top: 20px;
    padding-bottom: 30px;
}
.title{
    color: white;
    direction: rtl;
    margin-right: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}
.item{
    min-width:155px;
    width: 155px;
    height:290px;
    margin:20px;
    overflow: hidden;
    direction: rtl;
}
.effect{
    position:absolute;
    width:100%;
    height:100%;
    background-color: black;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-self: center;
}
.effect>h5{
    color: white;
    font-size: 12px;
    text-align: center;
}
.container{
    position: relative;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    direction: rtl;
}

.container::-webkit-scrollbar{
    display: none;
}
.item:hover .effect{
    transition: all .1s ease-in;
    opacity: 0.9;
}

.preview{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0c1210;
    color: #faa500;
    cursor: pointer;
    border: 1px solid #faa500;
    margin-right: 10px ;
}
.preview:hover{
    background-color: #faa500;
    color: #0c1210;
    transition: all .1s ease-in;
}
.select{
    width: 100px;
    direction: rtl;
    margin-left: 40px;
    background-color: #0c1210;
    border: 1 px solid #faa500;

}
.select2{
    
    width: 200px;
    direction: rtl;
    margin-left: 20px;
    background-color: #0c1210;
    border: 1 px solid #faa500;

}
.filter{
    display: flex;
    flex-direction: row;
}

.preview:disabled{
    background-color: #0c1210;
    color: #faa500;
    border: 1px solid #faa500;
    cursor: not-allowed;
}

.next{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0c1210;
    color: #faa500;
    cursor: pointer;
    border: 1px solid #faa500;
}
.next:hover{
    background-color: #faa500;
    color: #0c1210;
    transition: all .1s ease-in;
}

.next:disabled{
    background-color: #0c1210;
    color: #faa500;
    border: 1px solid #faa500;
    cursor: not-allowed;
}

.searchbox{
    float: right;
    text-align: right;
    position: relative;
    left: 630px;
    

}
@media only  screen and (max-width:1000px) {
    .container{
        overflow-x:auto;
    }
    .title{
        margin-top:0px;
        margin-bottom: 0;
    }
}