/* *{
    background-color: #b3b3b3;
} */
.buttm{
    border: 1px solid black;
    border-radius: 8%;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    
}
.MuiDialog-container {
    background-color: pink;

}
.dial{
    display: flex;
    flex-direction: row-reverse;
}
.dialog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid yellow ;
    
}
.email{
    margin-top: 2px;
    color: #737373;
}
.container{
    /* background-color: #a6a6a6; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    padding-top: 20px;
}
.follow
{
    margin-top: 4%;
    color: #a19f9f;
    list-style: none;
    margin-left: 3%;
}

.menuItem{
    font-size: 20px;
}
.menu{
    justify-content: center;
    /* background-color: #b3b3b3; */
}
.name{
    color: orange;
}
@media only  screen and (max-width:1000px) {
    .menu{
        justify-content: flex-start;
        overflow: auto;
    }
    .menu::-webkit-scrollbar{
        display: none;
        justify-content: start;
    }
    .menuItem{
        font-size: 12px;
        min-width: 100px;
        text-align: center;
    }
    .container{
        padding: 30px;
    }
    .email{
        font-size: 14px;
        margin: 0;
    }
    .name{
        font-size: 20px;
    }

}
@media only  screen and (max-width:500px) {

    .container{
        flex-direction: column;
    }
}