/* *{
    background-color: #b3b3b3;
} */
.email_input{
  background-color: #0C1210;
  border: none;
  border-bottom: 1px solid #737373;
  border-radius: 10px;
  color: #737373;
  padding-left: 5px;
width: 250px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
  margin-left: 100px;
}
.deleteicon{
  color: white;
  margin-top: 8px;
  cursor: pointer;
}
.icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;

}
.ImgPreview{
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}
.Prew{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* padding: 30px; */
  margin-left: 70px;
}
.submitdiv{
  display: flex;
  flex-direction: row-reverse;
}
.submitform{
  color: #faa500;
  margin-right: 50px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #737373;
  border-radius: 100%;
  /* width: 30px; */
  /* height: 30px; */
  scale: 2;
  padding: 1px;
}
.Input_label{
  color: black;
  text-align: right;
}
.input_div{
  gap: 30px;
}
.Input_text{
  display: inline-block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #faa500;
  /* background-color: #3D3D3D; */
  background-color: #0C1210;
  direction: rtl;
  outline:2px solid transparent;
  outline-offset: 2px;
  appearance: none;
  contain: paint;
  /* min-width: 80px; */
  /* width: auto; */
  /* max-width: fit-content; */
  width: 200px;
  border: none;
  padding-right: 5px;
  border-radius: 3px;
  border-bottom: 1px solid white ;
}
.Input_text2{
  display: inline-block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #faa500;
  /* background-color: #3D3D3D; */
  background-color: #0C1210;
  direction: rtl;
  outline:2px solid transparent;
  outline-offset: 2px;
  appearance: none;
  contain: paint;
  /* min-width: 80px; */
  /* width: auto; */
  /* max-width: fit-content; */
  width: 200px;
  border: none;
  padding-right: 5px;
  border-radius: 3px;
  border-bottom: 1px solid white ;
}

.buttm {
  border: 0.1px solid black;
  width: 80px;
  border-radius: 8%;
  padding: 1px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  background-color: #faa500;
  cursor: pointer; 
}
.cancelIcon{
  margin-left: 30px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;


}
.Follow{
  width: 200px;
  height: 34px;

}
.Subcribed{
  width: 100px;
  height: 34px;
}
.editProfileButtom{
  width: 200px;
  height: 34px;
  margin-left: 150px;
}

.dial {
  display: flex;
  flex-direction: row-reverse;
}
.dialog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid yellow;
  /* margin-right: 300px; */
}
.email {
  margin-top: 2px;
  color: #737373;
}
.container {
  /* background-color: #a6a6a6; */

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  padding-top: 20px;
}
.follow {
  margin-top: 4%;
  color: #a19f9f;
  list-style: none;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.menuItem {
  font-size: 20px;
  padding: 5px;
  margin: 0px 30px;
}
.menu {
  justify-content: center;
  flex-direction: row-reverse;
  /* background-color: #b3b3b3; */
}
.name {
  color: orange;
}
.data{
    /* background-color: pink; */
    margin-right: 20px;
    margin-top: 20px;
    text-align: right;
}
@media only screen and (max-width: 1000px) {
    .container{
        margin-top: 200px;
    }
  .buttons{
    margin-left: 50px;
  }
  .Follow{
    width: 120px;
    height: 34px;
    font-size: 14px;
  
  }
  .Subcribed{
    width: 70px;
    height: 34px;
    font-size: 13px;

  }
  .editProfileButtom{
    width: 120px;
    height: 34px;
    font-size: 13px;
    margin-left: "150px",
  }
  
  .menu {
    flex-direction: row-reverse;
    justify-content: flex-start;
    overflow: auto;
  }
  .menu::-webkit-scrollbar {
    display: none;
    justify-content: start;
  }
  .menuItem {
    font-size: 12px;
    min-width: 100px;
    text-align: center;
  }
  .container {
    padding: 30px;
  }
  .email {
    font-size: 14px;
    margin: 0;
  }
  .name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1px;
  }
  .buttons{
    margin-left: 0px;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start; */
  }
  .menu{
    overflow: auto;
    padding: 0px 0px;
    margin-top: 10px;
  }
  /* .menuItem{
    margin: 0px 0px;
    font-size: 10px;
    width: fit-content;
  } */
  .menuItem {
    font-size: 20px;
    font-size: 8px;
    padding: 0px;
    margin: 0px 0px;
  }
  .editProfileButtom{
    width: 120px;
    height: 34px;
    font-size: 13px;
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 20px;
    
  }
  .submitdiv{
    display: flex;
    flex-direction: column;
  }
  .submitform{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
    width: 12px;
    height: 12px;
  }
  .email_input{
    width: fit-content;
  }
  .Follow{
    width: 80px;
    height: 34px;
    font-size: 11px;
  
  }
  .Subcribed{
    width: 50px;
    height: 34px;
    font-size: 11px;
  }
  
}
