/* .main {
  background-image: url("../public/image/alice.jpg");
} */

.article {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100%;
}
.descrip {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
  margin-right: 4%;
  margin-top: 3%;
}
/* .img{
    transform: scale(0.6);
} */
/* .img_actor{
    display: flex;
    flex-direction: column;
} */
.image {
  position: flex;
  width: 27vw;

  height: max-content;
  /* width: 468px;
    height: 702px; */
  /* width: 60%;
    width: 60% ; */
  /* transform: scale(0.6); */
  margin-right: 30px;
  border-radius: 5%;
  margin-top: 4%;
  margin-bottom: 5%;
}
.Clock {
  margin-top: 1%;
  color: #ffa500;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 40px;
}

.pictureClass {
  width: 1000px;
  height: 1000px;
}
.title {
  display: flex;
  justify-content: end;
  color: white;
}
.description {
  margin: 3%;
  margin-right: 1%;
  padding: 2%;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 2px 2px 0px 2px rgba(255,255,255,0.23); */
}
.actors {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.actor {
  font-size: 0.9em;
  justify-content: space-around;
  width: 120px;
  margin: 2% 3%;
  display: flex;
  flex-direction: row;
  /* // width: "vw", */
  background-color: gray;
  /* // borderRadius: "20px", */
  border-radius: 15vh;
  text-decoration: none;
  color: aliceblue;
  margin-left: 2%;
  /* column-gap: 12%; */
  /* flex-wrap: wrap; */
  /* flex-basis: 25%; */
}
.actorName {
  font-size: 50px;
  font-weight: 700;
  color: aliceblue;
  margin-top: 200px;
}
@media screen and (max-width:1300px){
    .mmd{
        margin-top: 5vh;
    }
    
}
@media screen and (max-width:1000px){
    .mmd{
        margin-top: 7vh;
    }
    
}

@media screen and (max-width: 765px)and (min-width:550px) {
  .mmd {
    display: flex;
    flex-flow: row-reverse;
    /* justify-content: center; */
    align-items: center;
  }
  .image {
    margin-top: 64px;
    margin-bottom: 18px;
    margin-right: 20px;
  }
  .article {
    flex-flow: column;
  }
  .actors{
    flex-direction: row-reverse;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 130px;
    align-items: end;
    /* backdrop-filter: blur(30px); */
    
}


 } 
@media screen and (max-width:550px) {
    .mmd {
        display: flex;
        flex-flow: column;
        justify-content: center; 
        align-items: center;
      }
      .image {
        width: 70vw;
        margin-right: 0px;
      }
      .article {
        flex-flow: column!important;
      }
      .actors{
        flex-direction: row-reverse; 
        justify-content: end;
        
        font-size: 15px;
        margin-top: 10px;
        align-items: end;
    }
    .actor{
      width: 25%;
    }
    
} 
