
.card{
    width:620px;
    min-height: 230px;
    padding: 15px;
    margin: 20px;
    background-color: #24282A;
    border-radius: 10px;
    direction: rtl;
    display: flex;
    position: relative;
    height: auto;
    border-style: solid;
    border-color: #faa500
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only  screen and (max-width:800px) {
    .card{
        flex-direction: column;
        width: 310px;
        padding-bottom: 50px;
    }
}


.preview{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0c1210;
    color: #faa500;
    cursor: pointer;
    border: 1px solid #faa500;
    margin-right: 10px ;
    /* width: 120px; */
    /* height: 30px; */
}
.preview:hover{
    background-color: #faa500;
    color: #0c1210;
    transition: all .1s ease-in;
}
.preview:disabled{
    background-color: #0c1210;
    color: #faa500;
    border: 1px solid #faa500;
    cursor: not-allowed;
}


.next{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0c1210;
    color: #faa500;
    cursor: pointer;
    border: 1px solid #faa500;
    /* width: 120px; */
    /* height: 30px; */
}
.next:hover{
    background-color: #faa500;
    color: #0c1210;
    transition: all .1s ease-in;
}

.next:disabled{
    background-color: #0c1210;
    color: #faa500;
    border: 1px solid #faa500;
    cursor: not-allowed;
}
