.email{
    margin-top: 2px;
    color: #9f9c9c;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    padding-top: 20px;
}
.menuItem{
    font-size: 20px;
}
.menu{
    justify-content: center;
}
@media only  screen and (max-width:1000px) {
    .menu{
        justify-content: flex-start;
        overflow: auto;
    }
    .menu::-webkit-scrollbar{
        display: none;
        justify-content: start;
    }
    .menuItem{
        font-size: 12px;
        min-width: 100px;
        text-align: center;
    }
    .container{
        padding: 30px;
    }
    .email{
        font-size: 14px;
        margin: 0;
    }
    .name{
        font-size: 20px;
    }

}
@media only  screen and (max-width:500px) {

    .container{
        flex-direction: column;
    }
}